.App {
  font-family: sans-serif;
  text-align: center;
}
.item-renderer {
  display: flex;
  justify-content: flex-start;
}
ul.select-list li {
  border-bottom: 2px solid #ebebebf0;
}
ul.select-list li {
  border-bottom: 2px solid #ebebebf0;
  font-weight: 600;
  color: #979292;
  text-transform: capitalize;
  cursor: pointer;
}
ul.select-list li span {
  cursor: pointer !important;
}

.medialist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* STYLES FOR HEADING */
.dropdown-heading-value {
  display: flex;
}
.select-filters,
.radio-filters {
  display: flex;
  flex-direction: row;
}
.dropdown-filters {
  display: flex;
}
.multiselect-sections {
  margin-left: 10px;
  width: 200px;
}
.clear-filters {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* STYLES FOR MEDIA CARDS */
.user-container {
  width: 300px;
  background-color: #e4eef1;
  margin-left: 20px;
  margin-top: 30px;
  border: 1px solid rgb(195 205 208);
}
.media-img {
  width: 300px;
  height: 400px;
  background-color: azure;
}
.media-description {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.genres-content {
  padding: 0px;
  margin: 0px;
}
.genres-list {
  margin-right: auto;
  display: inline-flex;
  list-style: none;
  padding: 0px;
}
.genre {
  display: inline-block;
  margin-left: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #e5d7be;
  border: 1px solid #9a8522;
  border-left-width: 3px;
}
